<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/css/style.css" />
  
    <title>Minimal sample site for eleventy-sass</title>
    
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
